.array-container {
  margin: 50px;
}

.array-bar {
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-style: oblique;
  font-size: 20px;
  display: inline-block;
  margin: 0 5px;
}
